.pagerLimit {
  width: 400px;
  margin: 20px 300px;
}

.pagerLimit button {
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 20px;
}

.pagerLimit span {
  display: inline-block;
  margin-right: 20px;
}